:root {
  font-family: Rubik, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  max-width: 1440px;
  height: 100vh;
  max-height: max(100vh, 1024px);
  margin: 0 auto;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.14;
}

button {
  cursor: pointer;
}
